# 코로나 데이터 웹크롤링 ~ 클린징

#### 웹 크롤링할 사이트 접속

In [ ]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time

driver = webdriver.Chrome('./chromedriver')

url = 'https://www.bloomberg.com/graphics/covid-vaccine-tracker-global-distribution/'
driver.get(url)

#### 더보기 클릭하여 데이터 확보

In [15]:
# show more 버튼 클릭
sel_more1 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more1.click()
time.sleep(1)

In [16]:
# show more 버튼 한 번 더 클릭
sel_more2 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more2.click()

#### xpath 규칙 찾아서 국가명 크롤링

In [18]:
# Mainland China xpath : //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[2]/td[1]
all_data = []

for i in range(1,7,1): # 중간중간에 6개의 백신정보가 섞여잇기 때문에 
    data_col = []
    xpath = '//*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr/td[%s]' % str(i) 
    sel_data = driver.find_elements_by_xpath(xpath)
    
    for dat in sel_data:
        data_col.append(dat.text)
        
    print(data_col)
    all_data.append(data_col)

['Global Total', 'Mainland China', 'India', 'EU', 'U.S.', 'Brazil', 'Japan', 'Indonesia', 'Turkey', 'Germany', 'Mexico', 'France', 'U.K.', '', '', '', '', '', 'Russia', 'Italy', 'Pakistan', 'Spain', 'South Korea', 'Canada', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Argentina', 'Thailand', 'Philippines', 'Iran', 'Malaysia', 'Saudi Arabia', 'Bangladesh', 'Morocco', 'Colombia', 'Vietnam', 'Poland', 'Chile', 'Australia', 'Sri Lanka', 'Peru', 'Cambodia', 'Netherlands', 'Ecuador', 'Cuba', 'UAE', 'Uzbekistan', 'Ukraine', 'South Africa', 'Belgium', 'Portugal', 'Egypt', 'Israel', 'Taiwan', 'Algeria', 'Venezuela', 'Kazakhstan', 'Sweden', 'Nepal', 'Greece', 'Dominican Republic', 'Czech Republic', 'Hungary', 'Austria', 'Switzerland', '', 'Romania', 'Singapore', 'Myanmar', 'Denmark', 'Hong Kong', 'Azerbaijan', 'Norway', 'Finland', 'Iraq', 'Tunisia', 'El Salvador', 'Ireland', 'Jordan', 'Guatemala', 'Bolivia', 'Nigeria', 'Serbia', 'Uruguay', 'Panama', 'Costa Rica', 'Zimbabwe', 'Honduras', 'New Zealand', 'Oman', 'Slovakia', 'Qatar', 'Mongolia', 'Paraguay', 'Laos', 'Tajikistan', 'Rwanda', 'Mozambique', 'Kenya', 'Ethiopia', 'Croatia', 'Belarus', 'Lithuania', 'Angola', 'Afghanistan', 'Lebanon', 'Bahrain', 'Bulgaria', 'Kuwait', 'Slovenia', 'Uganda', 'Ivory Coast', 'Senegal', 'Georgia', 'Albania', 'Guinea', 'Ghana', 'Sudan', 'Mauritius', 'Latvia', 'Libya', 'North Macedonia', 'Kyrgyzstan', 'Moldova', 'Estonia', 'Kosovo', 'Cyprus', 'Malawi', 'Bhutan', 'Bosnia and Herzegovina', 'Trinidad and Tobago', 'Togo', 'Fiji', 'Mauritania', 'Malta', 'Nicaragua', 'Luxembourg', 'Jamaica', 'Maldives', 'Zambia', 'Timor-Leste', 'Macau', 'Niger', 'Botswana', 'Iceland', 'Guyana', 'Syria', 'Somalia', 'Cameroon', 'Montenegro', 'Brunei', 'Madagascar', 'Cape Verde', 'Armenia', 'Namibia', 'Mali', 'Suriname', 'Tanzania', 'Equatorial Guinea', 'Comoros', 'Lesotho', 'Republic of the Congo', 'Yemen', 'Belize', 'Liberia', 'Burkina Faso', 'Eswatini', 'Barbados', 'Sierra Leone', 'Benin', 'Gambia', 'Central African Republic', 'Curaçao', 'Bahamas', 'Gabon', 'Papua New Guinea', 'Aruba', 'Jersey', 'Samoa', 'Seychelles', 'Chad', 'DR Congo', 'Isle of Man', 'Cayman Islands', 'South Sudan', 'Greenland', 'Guernsey', 'Solomon Islands', 'Andorra', 'Guinea-Bissau', 'Antigua and Barbuda', 'Bermuda', 'Sao Tome and Principe', 'Gibraltar', 'St. Lucia', 'Faroe Islands', 'Tonga', 'Micronesia', 'Djibouti', 'Haiti', 'Grenada', 'Turks & Caicos', 'Monaco', 'Sint Maarten', 'Saint Kitts and Nevis', 'San Marino', 'Dominica', 'Turkmenistan', 'St. Vincent and the Grenadines', 'Anguilla', 'Nauru', 'St. Helena', 'Falkland Islands', 'Montserrat', 'Eritrea']
['6,199,443,468', '2,203,185,000', '876,538,633', '564,029,956', '391,152,574', '233,261,963', '161,057,159', '139,232,210', '108,761,681', '107,197,993', '99,366,403', '94,250,528', '93,565,474', '', '', '', '', '', '89,865,316', '84,351,559', '79,533,208', '69,936,755', '62,462,921', '56,036,106', '', '', '', '', '', '', '', '', '', '', '', '', '', '51,222,138', '46,023,016', '44,361,285', '43,372,270', '43,028,919', '41,886,224', '41,466,455', '40,273,386', '39,701,907', '39,232,772', '37,158,644', '31,553,676', '27,109,766', '26,096,107', '25,912,376', '23,830,570', '23,540,559', '20,571,335', '20,298,170', '19,963,359', '18,526,941', '17,867,953', '17,176,603', '16,644,129', '15,950,862', '15,057,720', '14,970,627', '14,763,330', '14,082,920', '14,050,000', '14,013,701', '13,703,515', '13,166,598', '12,088,975', '11,828,826', '11,788,930', '11,167,215', '10,802,266', '10,358,035', '', '10,114,580', '9,306,870', '9,001,616', '8,815,419', '8,622,733', '8,350,575', '7,757,255', '7,523,959', '7,448,300', '7,425,277', '7,396,969', '7,200,652', '6,960,192', '6,757,605', '6,700,654', '6,552,979', '6,409,263', '6,214,949', '5,367,816', '5,278,479', '5,263,782', '5,196,072', '5,087,231', '4,946,987', '4,762,272', '4,702,517', '4,545,348', '4,488,153', '4,402,770', '3,872,421', '3,740,279', '3,644,423', '3,613,357', '3,535,329', '3,413,174', '3,389,520', '3,199,916', '3,134,137', '3,133,227', '2,929,966', '2,568,320', '2,521,738', '2,380,000', '2,113,404', '2,058,553', '1,968,171', '1,784,832', '1,760,878', '1,715,133', '1,699,898', '1,653,422', '1,650,828', '1,633,952', '1,621,953', '1,546,967', '1,495,762', '1,422,970', '1,392,707', '1,361,564', '1,283,840', '1,147,010', '1,087,426', '1,068,414', '1,060,145', '1,047,111', '997,632', '975,268', '890,122', '818,593', '788,502', '784,482', '743,184', '727,664', '711,264', '675,891', '649,564', '621,853', '606,699', '551,110', '538,748', '533,949', '464,359', '461,201', '452,830', '443,676', '417,648', '414,300', '408,535', '407,502', '405,053', '394,029', '389,807', '387,510', '336,863', '332,954', '329,905', '322,934', '304,218', '284,246', '254,545', '240,002', '234,124', '232,375', '226,269', '207,195', '187,160', '186,793', '184,461', '180,320', '164,776', '155,753', '150,891', '149,431', '148,402', '142,548', '134,945', '129,318', '110,096', '103,751', '102,357', '101,898', '97,744', '95,918', '94,715', '89,252', '86,676', '82,679', '79,502', '76,224', '74,129', '73,603', '72,085', '67,229', '64,799', '55,663', '52,374', '49,980', '49,310', '47,098', '47,088', '44,624', '41,993', '33,077', '18,584', '14,863', '7,892', '4,407', '2,871', '–']
['–', '78.7', '32.0', '63.5', '61.1', '56.5', '63.8', '26.1', '65.4', '64.5', '38.9', '72.7', '70.0', '', '', '', '', '', '30.6', '69.9', '19.4', '75.2', '60.4', '74.7', '', '', '', '', '', '', '', '', '', '', '', '', '', '57.0', '33.1', '20.7', '26.0', '66.0', '61.4', '12.4', '56.6', '39.4', '20.3', '48.9', '82.6', '53.1', '59.8', '39.1', '72.2', '68.3', '59.6', '89.6', '92.9', '27.9', '21.4', '16.4', '72.6', '77.6', '7.6', '82.7', '31.3', '16.2', '25.3', '37.6', '66.3', '23.1', '56.4', '57.1', '55.3', '57.1', '61.0', '60.6', '', '26.1', '81.6', '8.5', '75.9', '57.3', '41.8', '72.4', '68.2', '9.5', '31.5', '57.3', '72.7', '34.6', '19.2', '29.0', '1.6', '46.0', '88.3', '63.6', '52.0', '17.7', '26.6', '51.6', '59.0', '43.7', '84.1', '68.9', '31.4', '30.7', '20.8', '15.1', '5.8', '3.8', '1.8', '42.0', '17.9', '57.5', '5.2', '4.2', '21.4', '86.5', '18.1', '25.1', '52.1', '2.6', '3.7', '5.5', '23.6', '29.9', '6.2', '2.7', '1.9', '64.5', '42.2', '11.8', '36.0', '11.1', '26.0', '51.4', '35.7', '65.5', '2.7', '71.7', '16.1', '37.5', '6.2', '54.5', '11.0', '82.9', '6.0', '63.9', '13.6', '97.8', '1.9', '26.1', '47.8', '1.3', '12.8', '77.2', '34.3', '–', '1.5', '0.9', '36.3', '48.2', '0.8', '37.7', '6.9', '8.3', '1.1', '33.0', '0.3', '14.2', '19.3', '8.1', '3.6', '0.5', '37.3', '3.1', '0.6', '10.8', '40.8', '1.5', '1.0', '4.4', '2.0', '57.3', '24.2', '4.3', '1.0', '69.5', '–', '37.2', '77.3', '0.4', '0.1', '76.1', '84.7', '0.4', '89.8', '–', '7.6', '62.3', '2.7', '46.0', '68.8', '19.4', '116.9', '21.2', '75.6', '36.8', '34.7', '3.1', '0.3', '25.5', '68.9', '64.1', '58.7', '41.3', '69.2', '31.4', '0.4', '15.0', '61.9', '57.2', '65.8', '73.5', '28.7', '–']
['–', '78.6', '46.7', '67.3', '64.4', '71.3', '69.5', '32.9', '64.5', '67.9', '49.8', '77.4', '73.0', '', '', '', '', '', '32.6', '74.5', '28.3', '81.0', '74.5', '76.2', '', '', '', '', '', '', '', '', '', '', '', '', '', '65.7', '42.4', '23.5', '35.5', '70.6', '68.4', '14.9', '61.6', '51.4', '32.1', '52.1', '78.5', '63.1', '66.0', '46.7', '79.6', '70.3', '64.2', '79.8', '85.9', '29.4', '29.6', '20.7', '74.8', '86.9', '9.7', '67.3', '53.2', '13.9', '31.6', '40.4', '69.2', '23.9', '59.9', '58.2', '57.0', '60.2', '64.5', '64.3', '', '28.2', '82.1', '10.5', '76.7', '59.5', '47.2', '77.2', '74.8', '11.7', '40.5', '62.8', '76.1', '36.6', '24.9', '36.8', '2.3', '43.4', '77.7', '69.7', '64.5', '20.5', '32.8', '66.0', '69.1', '44.8', '84.4', '68.3', '36.7', '39.1', '24.8', '16.9', '6.1', '5.7', '2.9', '44.5', '19.8', '62.5', '7.1', '2.6', '23.5', '78.4', '17.3', '56.2', '54.1', '4.1', '5.6', '7.6', '26.2', '32.7', '8.5', '2.9', '1.5', '66.8', '47.4', '20.7', '37.6', '12.7', '22.9', '57.0', '43.3', '67.9', '3.9', '77.1', '19.2', '41.5', '7.4', '65.7', '7.9', '85.1', '7.7', '68.1', '19.3', '105.3', '1.8', '32.8', '51.2', '1.7', '17.2', '78.8', '45.2', '–', '1.7', '1.5', '38.6', '58.7', '0.7', '51.7', '8.9', '10.5', '1.7', '37.8', '–', '16.4', '20.0', '12.2', '4.7', '1.0', '47.6', '2.3', '1.2', '18.7', '46.1', '2.4', '1.3', '7.8', '3.0', '60.0', '30.0', '4.9', '1.4', '72.5', '–', '49.3', '80.5', '0.7', '0.1', '77.0', '84.7', '0.6', '124.5', '–', '11.6', '68.7', '4.9', '50.1', '69.6', '28.4', '117.4', '25.0', '77.7', '46.1', '41.6', '3.8', '0.4', '30.4', '72.2', '68.4', '61.2', '44.2', '71.8', '33.3', '0.6', '18.2', '63.3', '58.6', '72.7', '87.7', '29.7', '–']
['–', '73.0', '16.8', '64.7', '55.8', '41.9', '58.2', '18.4', '53.0', '64.2', '35.0', '74.6', '67.1', '', '', '', '', '', '28.5', '74.5', '13.4', '78.5', '46.3', '70.6', '', '', '', '', '', '', '', '', '', '', '', '', '', '48.3', '22.8', '19.2', '16.8', '60.7', '54.4', '10.0', '51.6', '32.8', '8.6', '51.1', '73.8', '41.9', '53.3', '31.1', '66.0', '63.6', '57.0', '43.6', '76.1', '11.1', '13.2', '14.3', '73.2', '84.0', '5.5', '62.1', '9.4', '9.3', '18.9', '34.4', '63.3', '21.7', '56.6', '55.5', '55.8', '57.7', '60.9', '58.3', '', '27.5', '79.2', '6.6', '75.1', '55.2', '36.4', '67.6', '61.6', '7.3', '29.0', '51.6', '74.1', '32.3', '13.1', '28.2', '0.9', '41.4', '72.9', '57.5', '39.5', '14.8', '20.4', '37.2', '48.9', '41.3', '79.4', '64.5', '26.1', '26.7', '16.8', '13.2', '5.6', '1.9', '0.8', '41.7', '16.0', '57.7', '3.3', '1.2', '19.3', '75.0', '19.0', '19.4', '48.1', '1.0', '1.4', '3.5', '21.1', '27.0', '3.9', '2.5', '1.3', '62.2', '43.5', '2.8', '34.3', '9.5', '29.0', '45.7', '28.1', '63.1', '2.4', '66.3', '12.9', '34.4', '5.0', '43.3', '0.5', '85.1', '4.4', '65.1', '8.9', '90.3', '2.1', '19.4', '44.6', '0.4', '9.5', '77.2', '23.4', '–', '1.4', '0.3', '33.7', '37.8', '0.7', '23.7', '4.8', '6.5', '1.2', '28.2', '–', '12.1', '18.5', '11.7', '2.5', '<0.1', '28.2', '0.6', '0.8', '18.1', '35.5', '0.5', '0.2', '7.3', '0.2', '54.6', '18.4', '3.8', '0.5', '66.6', '–', '25.0', '74.1', '0.2', '<0.1', '75.1', '84.7', '0.2', '64.5', '–', '3.6', '55.9', '0.4', '41.9', '68.0', '10.4', '116.4', '17.3', '73.6', '27.5', '–', '2.4', '0.2', '20.7', '65.6', '59.8', '56.2', '38.5', '71.8', '29.6', '0.2', '11.9', '60.6', '55.8', '58.9', '59.2', '27.8', '–']
['29,152,868', '3,171,286', '7,178,901', '1,052,903', '701,422', '1,317,163', '1,134,065', '1,916,012', '381,129', '194,817', '536,693', '229,555', '63,126', '', '', '', '', '', '214,966', '211,345', '670,870', '72,816', '533,067', '105,929', '', '', '', '', '', '', '', '', '', '', '', '', '', '222,650', '640,484', '369,770', '1,368,407', '300,427', '101,318', '504,273', '237,441', '169,329', '621,033', '25,851', '109,701', '285,221', '167,003', '246,687', '213,009', '20,051', '16,381', '270,811', '59,157', '155,946', '157,673', '116,932', '22,185', '23,657', '303,446', '29,290', '202,336', '292,376', '246,316', '56,369', '30,188', '186,712', '22,088', '22,374', '8,874', '5,617', '9,919', '28,480', '', '20,423', '23,733', '163,440', '4,355', '28,497', '53,286', '17,426', '20,879', '110,874', '36,864', '32,549', '9,025', '16,091', '73,439', '33,238', '59,719', '15,790', '20,806', '16,408', '12', '31,282', '46,577', '38,574', '38,813', '6,412', '4,415', '16,573', '9,935', '9,906', '70,941', '54,654', '54,234', '30,756', '50,195', '6,307', '26,145', '21,363', '44,858', '765,279', '28,922', '3,999', '5,780', '12,990', '6,460', '90,201', '33,239', '2,395', '12,798', '8,220', '41,480', '3,330', '21,549', '1,155', '4,283', '11,651', '5,856', '10,359', '3,561', '3,361', '15,384', '1,090', '7,915', '3,185', '7,334', '3,453', '23,544', '9,017', '2,813', '824', '2,155', '592', '4,756', '759', '6,903', '3,941', '4,123', '9,294', '2,729', '1,103', '2,082', '23,498', '9,868', '995', '2,132', '5,261', '5,145', '3,741', '5,965', '4,761', '1,460', '2,208', '5,687', '2,838', '249', '6,246', '1,525', '244', '2,922', '9,467', '8,839', '888', '1,684', '805', '1,696', '357', '212', '276', '210', '1,099', '2,517', '150', '80', '981', '154', '2,785', '432', '30', '685', '996', '300', '45', '2,902', '113', '3,807', '1,048', '60', '2,420', '30', '495', '104', '274', '266', '174', '663', '579', '77', '120', '22', '31', '9', '82', '–', '113', '2', '4', '8', '202', '2', '–']

#### 데이터 프레임 생성

In [49]:
import pandas as pd

pd.set_option("display.max_rows", 40)

dat_dict = {'국가':all_data[0],
            '백신접종수':all_data[1],
            'Enough_percent_people:':all_data[2],
            '1차접종':all_data[3],
            '2차접종':all_data[4],
            '일별접종수':all_data[5]
           }

dat_df = pd.DataFrame(dat_dict)
dat_df

,국가,백신접종수,Enough_percent_people:,1차접종,2차접종,일별접종수
0,Global Total,"6,199,443,468",–,–,–,"29,152,868"
1,Mainland China,"2,203,185,000",78.7,78.6,73.0,"3,171,286"
2,India,"876,538,633",32.0,46.7,16.8,"7,178,901"
3,EU,"564,029,956",63.5,67.3,64.7,"1,052,903"
4,U.S.,"391,152,574",61.1,64.4,55.8,"701,422"
...,...,...,...,...,...,...
221,Nauru,"14,863",57.2,58.6,55.8,4
222,St. Helena,"7,892",65.8,72.7,58.9,8
223,Falkland Islands,"4,407",73.5,87.7,59.2,202
224,Montserrat,"2,871",28.7,29.7,27.8,2
225,Eritrea,–,–,–,–,–

In [50]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   국가                      226 non-null    object
 1   백신접종수                   226 non-null    object
 2   Enough_percent_people:  226 non-null    object
 3   1차접종                    226 non-null    object
 4   2차접종                    226 non-null    object
 5   일별접종수                   226 non-null    object
dtypes: object(6)
memory usage: 10.7+ KB

In [51]:
dat_df['국가'].str.len()

0      12
1      14
2       5
3       2
4       4
       ..
221     5
222    10
223    16
224    10
225     7
Name: 국가, Length: 226, dtype: int64

#### 국가명 결측치값 확인 ( 문자열의 길이가 0 이면 값이 없는 것 )

In [52]:
dat_df['국가'].str.len().unique()

array([12, 14,  5,  2,  4,  6,  9,  7,  0,  8, 11, 10,  3, 18, 15, 22, 19,
       17, 21, 24, 16, 13, 30])

#### 국가명이 없는 경우 (U.K. 안에 London 같은것들 ) 데이터에서 삭제

In [53]:
print('전처리 전 : ',dat_df.shape)
dat_df = dat_df.loc[dat_df['국가'].str.len()>1,:]
print('전처리 후: ',dat_df.shape)
dat_df['국가'].str.len().unique()

전처리 전 :  (226, 6)
전처리 후:  (207, 6)

array([12, 14,  5,  2,  4,  6,  9,  7,  8, 11, 10,  3, 18, 15, 22, 19, 17,
       21, 24, 16, 13, 30])

#### 국가명이 없는 데이터 삭제후 인덱스값이 펑크남. -> 인덱스값 초기화

In [57]:
dat_df.head(40)

,국가,백신접종수,Enough_percent_people:,1차접종,2차접종,일별접종수
0,Global Total,"6,199,443,468",–,–,–,"29,152,868"
1,Mainland China,"2,203,185,000",78.7,78.6,73.0,"3,171,286"
2,India,"876,538,633",32.0,46.7,16.8,"7,178,901"
3,EU,"564,029,956",63.5,67.3,64.7,"1,052,903"
4,U.S.,"391,152,574",61.1,64.4,55.8,"701,422"
5,Brazil,"233,261,963",56.5,71.3,41.9,"1,317,163"
6,Japan,"161,057,159",63.8,69.5,58.2,"1,134,065"
7,Indonesia,"139,232,210",26.1,32.9,18.4,"1,916,012"
8,Turkey,"108,761,681",65.4,64.5,53.0,"381,129"
9,Germany,"107,197,993",64.5,67.9,64.2,"194,817"
10,Mexico,"99,366,403",38.9,49.8,35.0,"536,693"
11,France,"94,250,528",72.7,77.4,74.6,"229,555"
12,U.K.,"93,565,474",70.0,73.0,67.1,"63,126"
18,Russia,"89,865,316",30.6,32.6,28.5,"214,966"
19,Italy,"84,351,559",69.9,74.5,74.5,"211,345"
20,Pakistan,"79,533,208",19.4,28.3,13.4,"670,870"
21,Spain,"69,936,755",75.2,81.0,78.5,"72,816"
22,South Korea,"62,462,921",60.4,74.5,46.3,"533,067"
23,Canada,"56,036,106",74.7,76.2,70.6,"105,929"
37,Argentina,"51,222,138",57.0,65.7,48.3,"222,650"
38,Thailand,"46,023,016",33.1,42.4,22.8,"640,484"
39,Philippines,"44,361,285",20.7,23.5,19.2,"369,770"
40,Iran,"43,372,270",26.0,35.5,16.8,"1,368,407"
41,Malaysia,"43,028,919",66.0,70.6,60.7,"300,427"
42,Saudi Arabia,"41,886,224",61.4,68.4,54.4,"101,318"
43,Bangladesh,"41,466,455",12.4,14.9,10.0,"504,273"
44,Morocco,"40,273,386",56.6,61.6,51.6,"237,441"
45,Colombia,"39,701,907",39.4,51.4,32.8,"169,329"
46,Vietnam,"39,232,772",20.3,32.1,8.6,"621,033"
47,Poland,"37,158,644",48.9,52.1,51.1,"25,851"
48,Chile,"31,553,676",82.6,78.5,73.8,"109,701"
49,Australia,"27,109,766",53.1,63.1,41.9,"285,221"
50,Sri Lanka,"26,096,107",59.8,66.0,53.3,"167,003"
51,Peru,"25,912,376",39.1,46.7,31.1,"246,687"
52,Cambodia,"23,830,570",72.2,79.6,66.0,"213,009"
53,Netherlands,"23,540,559",68.3,70.3,63.6,"20,051"
54,Ecuador,"20,571,335",59.6,64.2,57.0,"16,381"
55,Cuba,"20,298,170",89.6,79.8,43.6,"270,811"
56,UAE,"19,963,359",92.9,85.9,76.1,"59,157"
57,Uzbekistan,"18,526,941",27.9,29.4,11.1,"155,946"

In [58]:
#dat_df=dat_df.reindex()
dat_df=dat_df.reset_index()
dat_df.shape

(207, 7)

In [59]:
dat_df.head(40)

,index,국가,백신접종수,Enough_percent_people:,1차접종,2차접종,일별접종수
0,0,Global Total,"6,199,443,468",–,–,–,"29,152,868"
1,1,Mainland China,"2,203,185,000",78.7,78.6,73.0,"3,171,286"
2,2,India,"876,538,633",32.0,46.7,16.8,"7,178,901"
3,3,EU,"564,029,956",63.5,67.3,64.7,"1,052,903"
4,4,U.S.,"391,152,574",61.1,64.4,55.8,"701,422"
5,5,Brazil,"233,261,963",56.5,71.3,41.9,"1,317,163"
6,6,Japan,"161,057,159",63.8,69.5,58.2,"1,134,065"
7,7,Indonesia,"139,232,210",26.1,32.9,18.4,"1,916,012"
8,8,Turkey,"108,761,681",65.4,64.5,53.0,"381,129"
9,9,Germany,"107,197,993",64.5,67.9,64.2,"194,817"
10,10,Mexico,"99,366,403",38.9,49.8,35.0,"536,693"
11,11,France,"94,250,528",72.7,77.4,74.6,"229,555"
12,12,U.K.,"93,565,474",70.0,73.0,67.1,"63,126"
13,18,Russia,"89,865,316",30.6,32.6,28.5,"214,966"
14,19,Italy,"84,351,559",69.9,74.5,74.5,"211,345"
15,20,Pakistan,"79,533,208",19.4,28.3,13.4,"670,870"
16,21,Spain,"69,936,755",75.2,81.0,78.5,"72,816"
17,22,South Korea,"62,462,921",60.4,74.5,46.3,"533,067"
18,23,Canada,"56,036,106",74.7,76.2,70.6,"105,929"
19,37,Argentina,"51,222,138",57.0,65.7,48.3,"222,650"
20,38,Thailand,"46,023,016",33.1,42.4,22.8,"640,484"
21,39,Philippines,"44,361,285",20.7,23.5,19.2,"369,770"
22,40,Iran,"43,372,270",26.0,35.5,16.8,"1,368,407"
23,41,Malaysia,"43,028,919",66.0,70.6,60.7,"300,427"
24,42,Saudi Arabia,"41,886,224",61.4,68.4,54.4,"101,318"
25,43,Bangladesh,"41,466,455",12.4,14.9,10.0,"504,273"
26,44,Morocco,"40,273,386",56.6,61.6,51.6,"237,441"
27,45,Colombia,"39,701,907",39.4,51.4,32.8,"169,329"
28,46,Vietnam,"39,232,772",20.3,32.1,8.6,"621,033"
29,47,Poland,"37,158,644",48.9,52.1,51.1,"25,851"
30,48,Chile,"31,553,676",82.6,78.5,73.8,"109,701"
31,49,Australia,"27,109,766",53.1,63.1,41.9,"285,221"
32,50,Sri Lanka,"26,096,107",59.8,66.0,53.3,"167,003"
33,51,Peru,"25,912,376",39.1,46.7,31.1,"246,687"
34,52,Cambodia,"23,830,570",72.2,79.6,66.0,"213,009"
35,53,Netherlands,"23,540,559",68.3,70.3,63.6,"20,051"
36,54,Ecuador,"20,571,335",59.6,64.2,57.0,"16,381"
37,55,Cuba,"20,298,170",89.6,79.8,43.6,"270,811"
38,56,UAE,"19,963,359",92.9,85.9,76.1,"59,157"
39,57,Uzbekistan,"18,526,941",27.9,29.4,11.1,"155,946"

#### 각 컬럼별 요소를 확인하면서 이상치값 존재 여부 확인 (각 리스트 = 컬럼 기준, 리스트 내 요소 = 컬럼 내 데이터 값)

In [62]:
col_all = dat_df.columns
for one in col_all:
    print(dat_df[one].unique())

[  0   1   2   3   4   5   6   7   8   9  10  11  12  18  19  20  21  22
  23  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225]
['Global Total' 'Mainland China' 'India' 'EU' 'U.S.' 'Brazil' 'Japan'
 'Indonesia' 'Turkey' 'Germany' 'Mexico' 'France' 'U.K.' 'Russia' 'Italy'
 'Pakistan' 'Spain' 'South Korea' 'Canada' 'Argentina' 'Thailand'
 'Philippines' 'Iran' 'Malaysia' 'Saudi Arabia' 'Bangladesh' 'Morocco'
 'Colombia' 'Vietnam' 'Poland' 'Chile' 'Australia' 'Sri Lanka' 'Peru'
 'Cambodia' 'Netherlands' 'Ecuador' 'Cuba' 'UAE' 'Uzbekistan' 'Ukraine'
 'South Africa' 'Belgium' 'Portugal' 'Egypt' 'Israel' 'Taiwan' 'Algeria'
 'Venezuela' 'Kazakhstan' 'Sweden' 'Nepal' 'Greece' 'Dominican Republic'
 'Czech Republic' 'Hungary' 'Austria' 'Switzerland' 'Romania' 'Singapore'
 'Myanmar' 'Denmark' 'Hong Kong' 'Azerbaijan' 'Norway' 'Finland' 'Iraq'
 'Tunisia' 'El Salvador' 'Ireland' 'Jordan' 'Guatemala' 'Bolivia'
 'Nigeria' 'Serbia' 'Uruguay' 'Panama' 'Costa Rica' 'Zimbabwe' 'Honduras'
 'New Zealand' 'Oman' 'Slovakia' 'Qatar' 'Mongolia' 'Paraguay' 'Laos'
 'Tajikistan' 'Rwanda' 'Mozambique' 'Kenya' 'Ethiopia' 'Croatia' 'Belarus'
 'Lithuania' 'Angola' 'Afghanistan' 'Lebanon' 'Bahrain' 'Bulgaria'
 'Kuwait' 'Slovenia' 'Uganda' 'Ivory Coast' 'Senegal' 'Georgia' 'Albania'
 'Guinea' 'Ghana' 'Sudan' 'Mauritius' 'Latvia' 'Libya' 'North Macedonia'
 'Kyrgyzstan' 'Moldova' 'Estonia' 'Kosovo' 'Cyprus' 'Malawi' 'Bhutan'
 'Bosnia and Herzegovina' 'Trinidad and Tobago' 'Togo' 'Fiji' 'Mauritania'
 'Malta' 'Nicaragua' 'Luxembourg' 'Jamaica' 'Maldives' 'Zambia'
 'Timor-Leste' 'Macau' 'Niger' 'Botswana' 'Iceland' 'Guyana' 'Syria'
 'Somalia' 'Cameroon' 'Montenegro' 'Brunei' 'Madagascar' 'Cape Verde'
 'Armenia' 'Namibia' 'Mali' 'Suriname' 'Tanzania' 'Equatorial Guinea'
 'Comoros' 'Lesotho' 'Republic of the Congo' 'Yemen' 'Belize' 'Liberia'
 'Burkina Faso' 'Eswatini' 'Barbados' 'Sierra Leone' 'Benin' 'Gambia'
 'Central African Republic' 'Curaçao' 'Bahamas' 'Gabon' 'Papua New Guinea'
 'Aruba' 'Jersey' 'Samoa' 'Seychelles' 'Chad' 'DR Congo' 'Isle of Man'
 'Cayman Islands' 'South Sudan' 'Greenland' 'Guernsey' 'Solomon Islands'
 'Andorra' 'Guinea-Bissau' 'Antigua and Barbuda' 'Bermuda'
 'Sao Tome and Principe' 'Gibraltar' 'St. Lucia' 'Faroe Islands' 'Tonga'
 'Micronesia' 'Djibouti' 'Haiti' 'Grenada' 'Turks & Caicos' 'Monaco'
 'Sint Maarten' 'Saint Kitts and Nevis' 'San Marino' 'Dominica'
 'Turkmenistan' 'St. Vincent and the Grenadines' 'Anguilla' 'Nauru'
 'St. Helena' 'Falkland Islands' 'Montserrat' 'Eritrea']
['6,199,443,468' '2,203,185,000' '876,538,633' '564,029,956' '391,152,574'
 '233,261,963' '161,057,159' '139,232,210' '108,761,681' '107,197,993'
 '99,366,403' '94,250,528' '93,565,474' '89,865,316' '84,351,559'
 '79,533,208' '69,936,755' '62,462,921' '56,036,106' '51,222,138'
 '46,023,016' '44,361,285' '43,372,270' '43,028,919' '41,886,224'
 '41,466,455' '40,273,386' '39,701,907' '39,232,772' '37,158,644'
 '31,553,676' '27,109,766' '26,096,107' '25,912,376' '23,830,570'
 '23,540,559' '20,571,335' '20,298,170' '19,963,359' '18,526,941'
 '17,867,953' '17,176,603' '16,644,129' '15,950,862' '15,057,720'
 '14,970,627' '14,763,330' '14,082,920' '14,050,000' '14,013,701'
 '13,703,515' '13,166,598' '12,088,975' '11,828,826' '11,788,930'
 '11,167,215' '10,802,266' '10,358,035' '10,114,580' '9,306,870'
 '9,001,616' '8,815,419' '8,622,733' '8,350,575' '7,757,255' '7,523,959'
 '7,448,300' '7,425,277' '7,396,969' '7,200,652' '6,960,192' '6,757,605'
 '6,700,654' '6,552,979' '6,409,263' '6,214,949' '5,367,816' '5,278,479'
 '5,263,782' '5,196,072' '5,087,231' '4,946,987' '4,762,272' '4,702,517'
 '4,545,348' '4,488,153' '4,402,770' '3,872,421' '3,740,279' '3,644,423'
 '3,613,357' '3,535,329' '3,413,174' '3,389,520' '3,199,916' '3,134,137'
 '3,133,227' '2,929,966' '2,568,320' '2,521,738' '2,380,000' '2,113,404'
 '2,058,553' '1,968,171' '1,784,832' '1,760,878' '1,715,133' '1,699,898'
 '1,653,422' '1,650,828' '1,633,952' '1,621,953' '1,546,967' '1,495,762'
 '1,422,970' '1,392,707' '1,361,564' '1,283,840' '1,147,010' '1,087,426'
 '1,068,414' '1,060,145' '1,047,111' '997,632' '975,268' '890,122'
 '818,593' '788,502' '784,482' '743,184' '727,664' '711,264' '675,891'
 '649,564' '621,853' '606,699' '551,110' '538,748' '533,949' '464,359'
 '461,201' '452,830' '443,676' '417,648' '414,300' '408,535' '407,502'
 '405,053' '394,029' '389,807' '387,510' '336,863' '332,954' '329,905'
 '322,934' '304,218' '284,246' '254,545' '240,002' '234,124' '232,375'
 '226,269' '207,195' '187,160' '186,793' '184,461' '180,320' '164,776'
 '155,753' '150,891' '149,431' '148,402' '142,548' '134,945' '129,318'
 '110,096' '103,751' '102,357' '101,898' '97,744' '95,918' '94,715'
 '89,252' '86,676' '82,679' '79,502' '76,224' '74,129' '73,603' '72,085'
 '67,229' '64,799' '55,663' '52,374' '49,980' '49,310' '47,098' '47,088'
 '44,624' '41,993' '33,077' '18,584' '14,863' '7,892' '4,407' '2,871' '–']
['–' '78.7' '32.0' '63.5' '61.1' '56.5' '63.8' '26.1' '65.4' '64.5' '38.9'
 '72.7' '70.0' '30.6' '69.9' '19.4' '75.2' '60.4' '74.7' '57.0' '33.1'
 '20.7' '26.0' '66.0' '61.4' '12.4' '56.6' '39.4' '20.3' '48.9' '82.6'
 '53.1' '59.8' '39.1' '72.2' '68.3' '59.6' '89.6' '92.9' '27.9' '21.4'
 '16.4' '72.6' '77.6' '7.6' '82.7' '31.3' '16.2' '25.3' '37.6' '66.3'
 '23.1' '56.4' '57.1' '55.3' '61.0' '60.6' '81.6' '8.5' '75.9' '57.3'
 '41.8' '72.4' '68.2' '9.5' '31.5' '34.6' '19.2' '29.0' '1.6' '46.0'
 '88.3' '63.6' '52.0' '17.7' '26.6' '51.6' '59.0' '43.7' '84.1' '68.9'
 '31.4' '30.7' '20.8' '15.1' '5.8' '3.8' '1.8' '42.0' '17.9' '57.5' '5.2'
 '4.2' '86.5' '18.1' '25.1' '52.1' '2.6' '3.7' '5.5' '23.6' '29.9' '6.2'
 '2.7' '1.9' '42.2' '11.8' '36.0' '11.1' '51.4' '35.7' '65.5' '71.7'
 '16.1' '37.5' '54.5' '11.0' '82.9' '6.0' '63.9' '13.6' '97.8' '47.8'
 '1.3' '12.8' '77.2' '34.3' '1.5' '0.9' '36.3' '48.2' '0.8' '37.7' '6.9'
 '8.3' '1.1' '33.0' '0.3' '14.2' '19.3' '8.1' '3.6' '0.5' '37.3' '3.1'
 '0.6' '10.8' '40.8' '1.0' '4.4' '2.0' '24.2' '4.3' '69.5' '37.2' '77.3'
 '0.4' '0.1' '76.1' '84.7' '89.8' '62.3' '68.8' '116.9' '21.2' '75.6'
 '36.8' '34.7' '25.5' '64.1' '58.7' '41.3' '69.2' '15.0' '61.9' '57.2'
 '65.8' '73.5' '28.7']
['–' '78.6' '46.7' '67.3' '64.4' '71.3' '69.5' '32.9' '64.5' '67.9' '49.8'
 '77.4' '73.0' '32.6' '74.5' '28.3' '81.0' '76.2' '65.7' '42.4' '23.5'
 '35.5' '70.6' '68.4' '14.9' '61.6' '51.4' '32.1' '52.1' '78.5' '63.1'
 '66.0' '79.6' '70.3' '64.2' '79.8' '85.9' '29.4' '29.6' '20.7' '74.8'
 '86.9' '9.7' '53.2' '13.9' '31.6' '40.4' '69.2' '23.9' '59.9' '58.2'
 '57.0' '60.2' '64.3' '28.2' '82.1' '10.5' '76.7' '59.5' '47.2' '77.2'
 '11.7' '40.5' '62.8' '76.1' '36.6' '24.9' '36.8' '2.3' '43.4' '77.7'
 '69.7' '20.5' '32.8' '69.1' '44.8' '84.4' '68.3' '36.7' '39.1' '24.8'
 '16.9' '6.1' '5.7' '2.9' '44.5' '19.8' '62.5' '7.1' '2.6' '78.4' '17.3'
 '56.2' '54.1' '4.1' '5.6' '7.6' '26.2' '32.7' '8.5' '1.5' '66.8' '47.4'
 '37.6' '12.7' '22.9' '43.3' '3.9' '77.1' '19.2' '41.5' '7.4' '7.9' '85.1'
 '7.7' '68.1' '19.3' '105.3' '1.8' '51.2' '1.7' '17.2' '78.8' '45.2'
 '38.6' '58.7' '0.7' '51.7' '8.9' '37.8' '16.4' '20.0' '12.2' '4.7' '1.0'
 '47.6' '1.2' '18.7' '46.1' '2.4' '1.3' '7.8' '3.0' '60.0' '30.0' '4.9'
 '1.4' '72.5' '49.3' '80.5' '0.1' '77.0' '84.7' '0.6' '124.5' '11.6'
 '68.7' '50.1' '69.6' '28.4' '117.4' '25.0' '41.6' '3.8' '0.4' '30.4'
 '72.2' '61.2' '44.2' '71.8' '33.3' '18.2' '63.3' '58.6' '72.7' '87.7'
 '29.7']
['–' '73.0' '16.8' '64.7' '55.8' '41.9' '58.2' '18.4' '53.0' '64.2' '35.0'
 '74.6' '67.1' '28.5' '74.5' '13.4' '78.5' '46.3' '70.6' '48.3' '22.8'
 '19.2' '60.7' '54.4' '10.0' '51.6' '32.8' '8.6' '51.1' '73.8' '53.3'
 '31.1' '66.0' '63.6' '57.0' '43.6' '76.1' '11.1' '13.2' '14.3' '73.2'
 '84.0' '5.5' '62.1' '9.4' '9.3' '18.9' '34.4' '63.3' '21.7' '56.6' '55.5'
 '57.7' '60.9' '58.3' '27.5' '79.2' '6.6' '75.1' '55.2' '36.4' '67.6'
 '61.6' '7.3' '29.0' '74.1' '32.3' '13.1' '28.2' '0.9' '41.4' '72.9'
 '57.5' '39.5' '14.8' '20.4' '37.2' '48.9' '41.3' '79.4' '64.5' '26.1'
 '26.7' '5.6' '1.9' '0.8' '41.7' '16.0' '3.3' '1.2' '19.3' '75.0' '19.0'
 '19.4' '48.1' '1.0' '1.4' '3.5' '21.1' '27.0' '3.9' '2.5' '1.3' '62.2'
 '43.5' '2.8' '34.3' '9.5' '45.7' '28.1' '63.1' '2.4' '66.3' '12.9' '5.0'
 '43.3' '0.5' '85.1' '4.4' '65.1' '8.9' '90.3' '2.1' '44.6' '0.4' '77.2'
 '23.4' '0.3' '33.7' '37.8' '0.7' '23.7' '4.8' '6.5' '12.1' '18.5' '11.7'
 '<0.1' '0.6' '18.1' '35.5' '0.2' '54.6' '3.8' '66.6' '25.0' '84.7' '3.6'
 '55.9' '68.0' '10.4' '116.4' '17.3' '73.6' '20.7' '65.6' '59.8' '56.2'
 '38.5' '71.8' '29.6' '11.9' '60.6' '58.9' '59.2' '27.8']
['29,152,868' '3,171,286' '7,178,901' '1,052,903' '701,422' '1,317,163'
 '1,134,065' '1,916,012' '381,129' '194,817' '536,693' '229,555' '63,126'
 '214,966' '211,345' '670,870' '72,816' '533,067' '105,929' '222,650'
 '640,484' '369,770' '1,368,407' '300,427' '101,318' '504,273' '237,441'
 '169,329' '621,033' '25,851' '109,701' '285,221' '167,003' '246,687'
 '213,009' '20,051' '16,381' '270,811' '59,157' '155,946' '157,673'
 '116,932' '22,185' '23,657' '303,446' '29,290' '202,336' '292,376'
 '246,316' '56,369' '30,188' '186,712' '22,088' '22,374' '8,874' '5,617'
 '9,919' '28,480' '20,423' '23,733' '163,440' '4,355' '28,497' '53,286'
 '17,426' '20,879' '110,874' '36,864' '32,549' '9,025' '16,091' '73,439'
 '33,238' '59,719' '15,790' '20,806' '16,408' '12' '31,282' '46,577'
 '38,574' '38,813' '6,412' '4,415' '16,573' '9,935' '9,906' '70,941'
 '54,654' '54,234' '30,756' '50,195' '6,307' '26,145' '21,363' '44,858'
 '765,279' '28,922' '3,999' '5,780' '12,990' '6,460' '90,201' '33,239'
 '2,395' '12,798' '8,220' '41,480' '3,330' '21,549' '1,155' '4,283'
 '11,651' '5,856' '10,359' '3,561' '3,361' '15,384' '1,090' '7,915'
 '3,185' '7,334' '3,453' '23,544' '9,017' '2,813' '824' '2,155' '592'
 '4,756' '759' '6,903' '3,941' '4,123' '9,294' '2,729' '1,103' '2,082'
 '23,498' '9,868' '995' '2,132' '5,261' '5,145' '3,741' '5,965' '4,761'
 '1,460' '2,208' '5,687' '2,838' '249' '6,246' '1,525' '244' '2,922'
 '9,467' '8,839' '888' '1,684' '805' '1,696' '357' '212' '276' '210'
 '1,099' '2,517' '150' '80' '981' '154' '2,785' '432' '30' '685' '996'
 '300' '45' '2,902' '113' '3,807' '1,048' '60' '2,420' '495' '104' '274'
 '266' '174' '663' '579' '77' '120' '22' '31' '9' '82' '–' '2' '4' '8'
 '202']

#### 이상치값 '-'을 갖고 있는 데이터 확인

In [42]:
dat_df.loc[dat_df['백신접종수']=='–']

          국가 백신접종수 Enough_percent_people: 1차접종 2차접종 일별접종수
225  Eritrea     –                      –    –    –     –

In [43]:
dat_df.loc[dat_df['일별접종수']=='–']

               국가   백신접종수 Enough_percent_people: 1차접종 2차접종 일별접종수
218  Turkmenistan  41,993                    0.4  0.6  0.2     –
225       Eritrea       –                      –    –    –     –

#### 각 컬럼별 이상치 현황 확인

In [45]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )
    print("\n")

col name :  국가
0


col name :  백신접종수
1


col name :  Enough_percent_people:
5


col name :  1차접종
6


col name :  2차접종
7


col name :  일별접종수
2

#### 각 컬럼의 이상치값'-'를 -999와 0.05로 초기화

In [71]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )
    
    dat_df.loc[dat_df[one] == '–', one] = "-999"     # -값은 -999로 문자열로 
    dat_df.loc[dat_df[one] == '<0.1', one] = "0.05"  # < 가들어가있으면 0.05로 치환
    
    print("\n")

col name :  index
0


col name :  국가
0


col name :  백신접종수
1


col name :  Enough_percent_people:
5


col name :  1차접종
6


col name :  2차접종
7


col name :  일별접종수
2

#### 각 컬럼별 이상치값 변경 확인

In [74]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )
    print("\n")

col name :  index
0


col name :  국가
0


col name :  백신접종수
0


col name :  Enough_percent_people:
0


col name :  1차접종
0


col name :  2차접종
0


col name :  일별접종수
0

#### 데이터 전처리 -> 콤마, 없애기

In [75]:
dat_df['백신접종수'] = dat_df['백신접종수'].str.replace(',','')
dat_df['일별접종수'] = dat_df['일별접종수'].str.replace(',','')
dat_df.head()

,index,국가,백신접종수,Enough_percent_people:,1차접종,2차접종,일별접종수
0,0.0,Global Total,6199443468,-999,-999,-999,29152868
1,1.0,Mainland China,2203185000,78.7,78.6,73.0,3171286
2,2.0,India,876538633,32.0,46.7,16.8,7178901
3,3.0,EU,564029956,63.5,67.3,64.7,1052903
4,4.0,U.S.,391152574,61.1,64.4,55.8,701422

#### 결측치 존재 여부 확인

In [76]:
dat_df.isnull().sum()

index                     0
국가                        0
백신접종수                     0
Enough_percent_people:    0
1차접종                      0
2차접종                      0
일별접종수                     0
dtype: int64

#### 자료형 확인

In [77]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   207 non-null    object
 1   국가                      207 non-null    object
 2   백신접종수                   207 non-null    object
 3   Enough_percent_people:  207 non-null    object
 4   1차접종                    207 non-null    object
 5   2차접종                    207 non-null    object
 6   일별접종수                   207 non-null    object
dtypes: object(7)
memory usage: 11.4+ KB

#### 숫자형 데이터가 object(문자열)로 되어있는 경우가 있다. 모두 숫자형 자료형으로 변경해주자

In [78]:
sel_col = dat_df.columns

for one in sel_col:
    print('col name : ', one)
    
    # 자료형 변환
    if one != '국가':
        print('자료형 변환 전 col type:', dat_df[one].dtype)
        dat_df[one] = dat_df[one].astype('float32')
        print('자료형 변환 후 col type:', dat_df[one].dtype)
    print()

col name :  index
자료형 변환 전 col type: object
자료형 변환 후 col type: float32

col name :  국가

col name :  백신접종수
자료형 변환 전 col type: object
자료형 변환 후 col type: float32

col name :  Enough_percent_people:
자료형 변환 전 col type: object
자료형 변환 후 col type: float32

col name :  1차접종
자료형 변환 전 col type: object
자료형 변환 후 col type: float32

col name :  2차접종
자료형 변환 전 col type: object
자료형 변환 후 col type: float32

col name :  일별접종수
자료형 변환 전 col type: object
자료형 변환 후 col type: float32

In [79]:
dat_df.head(30)

,index,국가,백신접종수,Enough_percent_people:,1차접종,2차접종,일별접종수
0,0.0,Global Total,6.199443e+09,-999.000000,-999.000000,-999.000000,29152868.0
1,1.0,Mainland China,2.203185e+09,78.699997,78.599998,73.000000,3171286.0
2,2.0,India,8.765386e+08,32.000000,46.700001,16.799999,7178901.0
3,3.0,EU,5.640300e+08,63.500000,67.300003,64.699997,1052903.0
4,4.0,U.S.,3.911526e+08,61.099998,64.400002,55.799999,701422.0
5,5.0,Brazil,2.332620e+08,56.500000,71.300003,41.900002,1317163.0
6,6.0,Japan,1.610572e+08,63.799999,69.500000,58.200001,1134065.0
7,7.0,Indonesia,1.392322e+08,26.100000,32.900002,18.400000,1916012.0
8,8.0,Turkey,1.087617e+08,65.400002,64.500000,53.000000,381129.0
9,9.0,Germany,1.071980e+08,64.500000,67.900002,64.199997,194817.0
10,10.0,Mexico,9.936640e+07,38.900002,49.799999,35.000000,536693.0
11,11.0,France,9.425053e+07,72.699997,77.400002,74.599998,229555.0
12,12.0,U.K.,9.356547e+07,70.000000,73.000000,67.099998,63126.0
13,18.0,Russia,8.986531e+07,30.600000,32.599998,28.500000,214966.0
14,19.0,Italy,8.435156e+07,69.900002,74.500000,74.500000,211345.0
15,20.0,Pakistan,7.953321e+07,19.400000,28.299999,13.400000,670870.0
16,21.0,Spain,6.993675e+07,75.199997,81.000000,78.500000,72816.0
17,22.0,South Korea,6.246292e+07,60.400002,74.500000,46.299999,533067.0
18,23.0,Canada,5.603610e+07,74.699997,76.199997,70.599998,105929.0
19,37.0,Argentina,5.122214e+07,57.000000,65.699997,48.299999,222650.0
20,38.0,Thailand,4.602302e+07,33.099998,42.400002,22.799999,640484.0
21,39.0,Philippines,4.436128e+07,20.700001,23.500000,19.200001,369770.0
22,40.0,Iran,4.337227e+07,26.000000,35.500000,16.799999,1368407.0
23,41.0,Malaysia,4.302892e+07,66.000000,70.599998,60.700001,300427.0
24,42.0,Saudi Arabia,4.188622e+07,61.400002,68.400002,54.400002,101318.0
25,43.0,Bangladesh,4.146646e+07,12.400000,14.900000,10.000000,504273.0
26,44.0,Morocco,4.027338e+07,56.599998,61.599998,51.599998,237441.0
27,45.0,Colombia,3.970191e+07,39.400002,51.400002,32.799999,169329.0
28,46.0,Vietnam,3.923277e+07,20.299999,32.099998,8.600000,621033.0
29,47.0,Poland,3.715864e+07,48.900002,52.099998,51.099998,25851.0

#### 파일 저장하기

In [81]:
from datetime import datetime
import os

now = datetime.now()
file_make_time = "%04d%02d%02d_%02d" % (now.year, now.month, now.day, now.hour)

print( os.getcwd() )
path_dir = os.getcwd() + "/output_data/"  # window는 \\output_data\\ 이고 mac은 /output_data/이다.
path_file = path_dir + str(file_make_time)
print( path_dir,  path_file, sep="\n" )

dat_df.to_csv(path_file + "_vaccine_bloomberg.csv", index=False)
dat_df.to_excel(path_file + "_vaccine_bloomberg.xlsx", index=False)
os.listdir( path_dir )

/Users/works/Documents/Jupyter
/Users/works/Documents/Jupyter/output_data/
/Users/works/Documents/Jupyter/output_data/20210929_14

['20210929_14_vaccine_bloomberg.xlsx',
 '2021-09-28_corona.csv',
 '20210929_14_vaccine_bloomberg.csv',
 '2021-09-28_corona.xlsx']