In [34]:
import pandas as pd

In [4]:
train = pd.read_csv('./data_set/train.csv')
test = pd.read_csv('./data_set/test.csv')
sub = pd.read_csv('./data_set/sample_submission.csv')

In [7]:
# 결측치 처리 : age, embarked, cabin, fare
train['Age'] = train['Age'].fillna(train['Age'].median()) # 이상치값으로 인한 값 차이가 클때 -> 중앙값사용
test['Age']  = test['Age'].fillna(test['Age'].median())

In [8]:
# 결측치
train['Embarked'] = train['Embarked'].fillna('S')

In [10]:
# 결측치 확인
print(train.isnull().sum())
print(test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [17]:
# 자료형 변환
train['Sex'] = train['Sex'].map( {'female': 0, 'male': 1} )
test['Sex'] = test['Sex'].map( {'female': 0, 'male': 1} )

train['Embarked'] = train['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
test['Embarked']= test['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

In [18]:
train.Sex.unique(), test.Sex.unique()

(array([nan]), array([nan]))

In [19]:
train.Embarked.unique(), test.Embarked.unique()

(array([0, 1, 2]), array([2, 0, 1]))

In [14]:
## 나이에 대한 int 처리
train['Age'] = train['Age'].astype('int')
test['Age'] = test['Age'].astype('int')

train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(1), int64(7), object(4)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    int64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(1), int64(6), object(4)
memory usage: 36.0+ KB

(None, None)

In [20]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",NaN,22,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",NaN,38,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",NaN,26,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",NaN,35,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",NaN,35,0,0,373450,8.0500,NaN,0

In [21]:
# cabin 객실 번호 - 있는지 없는지 확인하는 변수 cabin_bool
train['Cabin_bool']= train['Cabin'].notnull().astype('int')
test['Cabin_bool']= test['Cabin'].notnull().astype('int')

train['Cabin_bool'].unique(), test['Cabin_bool'].unique()

(array([0, 1]), array([0, 1]))

In [22]:
train.columns, test.columns

(Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
        'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_bool'],
       dtype='object'),
 Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
        'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_bool'],
       dtype='object'))

In [25]:
train.Name.head(10)
#train['Name']head(10)

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [28]:
train['NameLength'] = train['Name'].apply(lambda x:len(x))
test['NameLength']  =  test['Name'].apply(lambda x:len(x))
    
train['NameLength'].unique(), test['NameLength'].unique()

(array([23, 51, 22, 44, 24, 16, 30, 49, 35, 31, 27, 36, 32, 20, 28, 55, 21,
        29, 57, 19, 46, 34, 56, 40, 17, 25, 45, 26, 50, 13, 15, 33, 18, 52,
        47, 38, 37, 41, 14, 42, 39, 82, 48, 54, 43, 67, 65, 53, 61, 12]),
 array([16, 32, 25, 44, 26, 20, 28, 41, 23, 45, 55, 17, 37, 22, 36, 31, 47,
        29, 40, 49, 24, 48, 19, 18, 15, 13, 27, 21, 46, 33, 51, 30, 35, 52,
        59, 54, 38, 53, 42, 62, 39, 34, 43, 58, 14, 63]))

In [31]:
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

train['FamilySize'].unique(), test['FamilySize'].unique()

(array([ 2,  1,  5,  3,  7,  6,  4,  8, 11]),
 array([ 1,  2,  3,  5,  4,  6,  8,  7, 11]))

In [32]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_bool',
       'NameLength', 'FamilySize'],
      dtype='object')

In [33]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_bool', 'NameLength',
       'FamilySize'],
      dtype='object')

In [39]:
sel3 = ['Pclass', 'Sex', 'Age', 'SibSp', 'SibSp','Parch', 'Embarked','Cabin_bool','NameLength','FamilySize' ]

# 학습에 사용될 데이터 준비 X_train, y_train
x3_train = train[sel3]
y3_train = train['Survived']
x3_test = test[sel3]

# 모델 가져와서 준비한 데이터로 모델 학습시키기
from sklearn.linear_model import LogisticRegression
model3 = LogisticRegression()
model3.fit(x3_train, y3_train)

# 3번째 모델로 예측하기
pred3 = model3.predict(x3_test)
pred3[:15]

sub3 = pd.read_csv("./data_set/sample_submission.csv")
sub3.head(15)

sub3['Survived'] = pred3
sub3.to_csv("logistic_third_submit.csv", index=False)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').